.chatperson{
  display: block;
  border-bottom: 1px solid #eee;
  width: 100%;
  display: flex;
  align-items: center;
  white-space: nowrap;
  overflow: hidden;
  margin-bottom: 15px;
  padding: 4px;
}

body{
    background-color: rgb(229, 231, 233  )
}

.header{
    background-color: rgb(46, 134, 193);
    height: 50px;
}

#signUp{
    margin-left: 90%;
    margin-top: 6px;
    width: 7%;
}

#titulos{
    color: red;
}

#btn1{
    width: 10%;
    margin-top: 10px;
    margin-left: 5px;
}

#btn2{
    margin-top: 6px;
    margin-left: 5px;
    background-color: rgb(40, 180, 99);
}

#btn2:hover{
    background-color: rgb(248, 196, 113);
    color: cornflowerblue;
}

#regreso{
    margin-top: 6px;
    margin-left: 5px;
}

.container{
    /*height:400px;*/
    position: fixed;
    right: 0;
    background-color: aquamarine;
}

#table{
    width: 360px;
    background-color: rgb(174, 214, 241);
    margin-left: 5px;
    margin-top: 10px;
}

#table2{
    width: 260px;
    background-color: rgb(174, 214, 241);
    margin-left: 5px;
    margin-top: 20px;
}

.titulo{
    background-color: aqua;
    height: 50px;
    max-width: 385px;
    margin-left: 45%;
    margin-top: 20px;
    text-align: center;
    color: white;
    font-size: 2em;
    background-color: rgb(52, 152, 219)
}

#table3{
    width: 260px;
    background-color: rgb(174, 214, 241);
    margin-left: 18%;
    margin-top: -114px;
    text-align: center;
}
#table4{
    width: 260px;
    background-color: rgb(174, 214, 241);
    margin-left: 1%;
    margin-top: -400px;
    text-align: center;
}